# dependencies
/frontend/node_modules
/backend/nodejs/node_modules

# production
/frontend/build
/frontend/dist

/backend/nodejs/build
/backend/nodejs/dist
/backend/golang/build
/backend/golang/dist

# database files create by commands
# /backend/nodejs/src/db/postgresql/migrations

# environment
*.env
!.env.example

# development
/backend/nodejs/tmp
/backend/golang/tmp
/backend/golang/temp
/node_modules

# temporary storage
/backend/nodejs/uploadStorage

# logs
/backend/nodejs/logs
/backend/golang/logs

# design backup
.$Talk-Verse-System-Design.drawio.bkp
.$Talk-Verse-System-Design.drawio.dtmp
.$Talk-Verse-Hosting-Diagram.drawio.bkp
.$Talk-Verse-Hosting-Diagram.drawio.dtmp