# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/backend/server1/node_modules
/backend/server2/node_modules

# production
/frontend/build
/frontend/dist
/backend/server1/build
/backend/server1/dist
/backend/server2/build
/backend/server2/dist

# postgresql migrations
/backend/server1/src/db/postgresql/migrations
/backend/server2/db/postgresql/migrations

# environment
*.env
!example.env
/frontend/.env
/backend/server1/.env
/backend/server2/.env

# development
/backend/server2/tmp
/node_modules
