# dependencies
/frontend/node_modules
/backend/server1/node_modules
/backend/server2/node_modules

# production
/frontend/build
/frontend/dist

/backend/server1/build
/backend/server1/dist

/backend/server2/build
/backend/server2/dist

# database files create by commands
# /backend/server1/src/db/postgresql/migrations
# /backend/server2/db/postgresql/dbpostgresql

# environment
*.env
!example.env
/frontend/.env
/backend/server1/.env
/backend/server2/.env

# development
/backend/server1/tmp
/backend/server2/tmp
/node_modules

# temp storage
/backend/server1/temp
/backend/server2/temp

# logs
/frontend/logs
/backend/server1/logs
/backend/server2/logs
