@tailwind base;
@tailwind components;
@tailwind utilities;

.appScreen{
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
};

.loginForm, .signinForm {
    width: 100%;
    margin-top: 1rem;
};
