@keyframes background-shine {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -200% 0;
    }
}

.quote {
    animation: background-shine 2s linear infinite;
}