# NOTE: this env file is only required for databases with docker

# MONGO_INITDB_ROOT_USERNAME="username" -> optional
# MONGO_INITDB_ROOT_PASSWORD="password" -> optional
# if abvove two env variables are user then MONGODB_URL 
# -> mongodb://username:password@talkverse-mongo:27017/Talk-Verse-Database
MONGO_INITDB_DATABASE=Talk-Verse-Database

POSTGRES_HOST=talkverse-postgres
# POSTGRES_PORT=5432 -> optional
POSTGRES_USER=postgres
POSTGRES_DB=Talk-Verse-Database
POSTGRES_PASSWORD=password